.chat-main
  .chat-main__group-info
    .group
      .group__group-name
        = @group.name
      .group__group-member
        - @group.users.each do |user|
          = user.name
    .edit
      = link_to edit_group_path(@group), class:"btn-flat-dashed-border" do
        %p Edit
  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    .message-box 
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message-box__text', placeholder: 'type a message'
        = f.label :image, class: 'message-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'message-box__image__file'
        = f.submit 'Send', class: 'submit-btn'